body {
    margin: 0;
    padding: 0;
}

#logo {
    position: relative;
}


#container {
    max-width: 1000px;
    margin: auto;
}

header {
    display: flex;
    flex-wrap:wrap;
}

#logo::before,#logo::after {
    content: "";
    background: #f8d277;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: block;
}

#logo::before {
    background: #f8d277;
   
}

#logo::after {
    background: #f2ac04;
    position: relative;
    top: 5px;
    left: 5px;
}

#header-menu {
    width: 100%;
}